@import url('https://fonts.googleapis.com/css?family=Georgiaa&display=swap');


body {
    font-family: Georgia, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(90deg, #c8acdf 0%, #c8dfff 100%);
}

p{
    color: rgb(52, 52, 52);
}

.nav-link {
    color:rgb(255, 255, 255);
}

.navbar-nav .nav-link.active {
    color: rgb(88, 238, 255);

}



.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(88, 238, 255);
}


.sidebar {
    color: #ffffff;
    background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
}

.card{
    background: linear-gradient(270deg, #d5d1e2 0%, #d5f6ff 100%);
}

.card a{
    text-decoration: none;
    color: #484d00;
}


.card {
    height: 100%; 
  }
  
.card-textblog {
    height: 100px; /* Задаем высоту блока */
    overflow: hidden; /* Скрываем все, что не помещается */
    text-overflow: ellipsis; /* Добавляем многоточие (...) для красивого указания обрезанного текста */
}

.text-justify {
    text-align: justify;
  }

  .section-content {
    background-color: #ffffff; /* Белый фон */
    padding: 20px; /* Добавляем отступы для контента */
    border-radius: 10px; /* Закругляем углы */
  }


.slide-text,
.footer-text  {
    color: #210047;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #d5d1e2 0%, #d5f6ff 100%)
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim{
    animation: call 2s ease 0s 1 normal forwards;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popup button {
    background-color: #cc00ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }





@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators{
        display: none;
    }
}